@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai+Looped:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    box-sizing: border-box;
}
body{
    background-color: whitesmoke;
    font-family: "Noto Sans Thai Looped", sans-serif;
    font-weight: 400;
    font-style: normal;

    background-image: url('https://images6.alphacoders.com/131/1316797.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}
#card{
    display: block;
    border-radius: 70px;
    margin: 5% 10%;
    overflow: hidden; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 50px 0 rgba(0, 0, 0, 0.616);                 
}
#page1{
    background-image: linear-gradient(to right, white , rgba(170, 173, 179, 0.877));
    
}
#header1{
    font-size: 150%;    
    padding: 3% 5%;
    font-weight: 500 ;
    /* margin-bottom: 2%; */
}
#header1-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header1-list ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
#header1-list .start li {
    padding-right: 20px;
}
#header1-list .end li {
    padding-right: 20px;
}
#container-navbar{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    font-size: 120%;
    /* gap: 10px; */
}
#nav1 {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-top: 7%;
    font-weight: 500    ;
}
#nav1 span{
    padding-bottom: 10%;
}
.profile-click {
    /* text-align: center; */
    padding-right: 17%;
}
.profile-click i{
    font-size: 20px;
    padding: 20%;
    border: 2px solid black;
    border-radius: 30%;
}
.competitions-click{
    /* text-align: center; */
    padding-right: 15%;
}
.competitions-click i{
    font-size: 20px;
    padding: 10%;
    border: 2px solid black;
    border-radius: 30%;
}
.projects-click{
    /* text-align: center; */
    padding-right: 26%;
}
.projects-click i{
    font-size: 20px;
    padding: 14%;
    border: 2px solid black;
    border-radius: 30%;
}
.certificates-click{
    /* text-align: center; */
    padding-right: 0%;
}
.certificates-click i{
    font-size: 20px;
    padding: 10%;
    border: 2px solid black;
    border-radius: 30%;
}
#main1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile1 {
    position: relative;
    /* display: inline-block;  */
}
.profile1 .dot {
    height: 50vh;
    width: 50vh;
    background-color: rgb(46, 46, 46);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 30px 50px 0 rgba(0, 0, 0, 0.616);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 46%;
    transform: translate(-50%, -50%);
    z-index: 1; 
}

.profile1 img {
    position: relative;
    z-index: 2; 
    width: auto;
    max-height: 65vh; 
    display: block;
}
#article1{
    padding: 0% 5% 5% 3%;
}
#article1 h1{
    font-weight: 800;
    font-size: 200%;
}
#article1 ul{
    list-style: none;
}
#article1 li{
    padding-bottom: 4%;
}
#article1 p{
    padding-right: 4%;
}
.github i{
    font-size: 40px;
    padding-right: 15px;
}
.email i{
    font-size: 35px;
    padding-right: 15px;
}
.tel i{
    font-size: 35px;
    padding-right: 15px;
}
/*  */
#page2-container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 30px;
    padding: 1rem 2rem;
}

#page2 {
    background-image: linear-gradient(to right, white , rgba(170, 173, 179, 0.877));
    margin-top: 0;
    padding: 20px; 
    height: auto; 
    width: 100%;
    color: black;
}
#profile2{
    text-align: center;
    padding-left: 5%;
}
#profile2 h1{
    font-weight: 800;
    font-size: 250%;
}
#profile2 h2{
    border: 2px solid black;
}
#profile2 img{
    max-width: 70%;
    border-radius: 20px;
    border: 3px double black;

}
#aboutme,#skills,#education {
    border: 2px solid black;
    padding: 20px;
}
#aboutme h2, #skills h2, #education h2{
    background-color: rgb(175, 172, 172);
    padding-left: 20px;
}
#skills{
    max-height: 35vh;
}
    