@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai+Looped:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    background-color: whitesmoke;
    font-family: "Noto Sans Thai Looped", sans-serif;
    font-weight: 400;
    font-style: normal;

    background-image: url('https://images6.alphacoders.com/131/1316797.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}
#card{
    z-index: 1;
    display: block;
    background-image: linear-gradient(to right, white , rgba(170, 173, 179, 0.877));
    margin: 5% 10%;
    border-radius: 70px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 50px 0 rgba(0, 0, 0, 0.616);
}
header {
    font-size: 150%;    
    padding: 3% 5%;
    font-weight: 500 ;
    /* margin-bottom: 2%; */
}
#header-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header-list ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
#header-list .start li {
    padding-right: 20px;
}
#header-list .end li {
    padding-right: 20px;
}
#container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    font-size: 120%;
    /* gap: 10px; */
}
nav {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-top: 7%;
    font-weight: 500    ;
}
nav span{
    padding-bottom: 10%;
}
<<<<<<< HEAD
.profile-click {
    /* text-align: center; */
    padding-right: 17%;
}
.profile-click i{
    font-size: 20px;
    padding: 20%;
    border: 2px solid black;
    border-radius: 30%;
=======
.profile-click, .certificates-click{
    padding-right: 15%;
>>>>>>> 90c7bbe4fb9dc2d4fab1a6374d9e80fa872c1e3d
}
.competitions-click{
    /* text-align: center; */
    padding-right: 15%;
}
.competitions-click i{
    font-size: 20px;
    padding: 10%;
    border: 2px solid black;
    border-radius: 30%;
}
.projects-click{
    /* text-align: center; */
    padding-right: 26%;
}
.projects-click i{
    font-size: 20px;
    padding: 14%;
    border: 2px solid black;
    border-radius: 30%;
}
.certificates-click{
    /* text-align: center; */
    padding-right: 0%;
}
.certificates-click i{
    font-size: 20px;
    padding: 10%;
    border: 2px solid black;
    border-radius: 30%;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile {
    position: relative;
    /* display: inline-block;  */
}
.profile .dot {
    height: 50vh;
    width: 50vh;
    background-color: rgb(46, 46, 46);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 30px 50px 0 rgba(0, 0, 0, 0.616);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 46%;
    transform: translate(-50%, -50%);
    z-index: 1; 
}

.profile img {
    position: relative;
    z-index: 2; 
    width: auto;
    max-height: 65vh; 
    display: block;
}
article{
    padding: 0% 5% 5% 3%;
}
article h1{
    font-weight: 800;
    font-size: 200%
}
article ul{
    list-style: none;
}
article li{
    padding-bottom: 4%;
}

.github i{
    font-size: 40px;
    padding-right: 15px;
}
.email i{
    font-size: 35px;
    padding-right: 15px;
}
.tel i{
    font-size: 35px;
    padding-right: 15px;
}
